<%= form_for(@comedian) do |f| %>
  <% if @comedian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comedian.errors.count, "error") %> prohibited this comedian from being saved:</h2>

      <ul>
      <% @comedian.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :gigs %><br />
    <%= select_tag(:gigs, options_for_select(@all_gigs.collect {|g| [g.name, g.id]}, @comedian.gigs.collect {|g| g.id}), {:multiple => true, :include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :tours %><br />
    <%= select_tag(:tours, options_for_select(@all_tours.collect {|t| [t.name, t.id]}, @comedian.tours.collect {|t| t.id}), {:multiple => true, :include_blank => true}) %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

