<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comedian.name %>
</p>
<p>
  <strong>Tours:</strong>
  <% @comedian.tours.each do |t| %>
    <%= link_to t.name, t %>
  <% end %>
</p>


<%= link_to 'Edit', edit_comedian_path(@comedian) %> |
<%= link_to 'Back', comedians_path %>
