<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :comedians %><br />
    <%= select_tag(:comedians, options_for_select(Comedian.all.collect {|c| [c.name, c.id]}, @tour.comedians.collect {|c| c.id}), {:multiple => true, :include_blank => true}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
