<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gig.name %>
</p>

<p>
  <b>Tour:</b>
  <%= @gig.tour %>
</p>


<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
