<% content_for :map do %>
<script type="text/javascript">
$(document).ready(function() {
  
  $("#date_range").slider({
    step: 1,
    min: <%= @months_ago %>,
    max: <%= @months_since %>
  });
  
  // Quick note: document.venues is a list of map markers - each item in the array contains a Google map
  // marker object, app-specific venue info, and a list of gigs.
  document.venues = [];
  
  function clearVenues() {
    _.each(document.venues, function(venue, i) {
      venue.marker.setMap(null);
    });
    document.venues = [];
  }
  
  function getVenueForLocation(loc) {
    return _.find(document.venues, function(venue) {
      return venue.marker.getPosition().equals(loc);
    });
  };
  
  var map = new google.maps.Map(document.getElementById("map_canvas"), {
    zoom: 6,
    center: new google.maps.LatLng(54.5, -2.0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Form submission: update marker list.
  $("#select_gigs").submit(function() {
    var self = $(this);
    $.post(self.attr('action'), self.serialize(), function(gigs) {
      // Clear the map of all previous venues and gigs
      clearVenues();

      _.each(gigs, function(gig, i) {
        // For each gig returned, see if the gig's venue is added to the map. If so, add the gig
        // to the venue's gigs array; if not, create a new venue marker, then add the gig to it. 
        if (gig.venue != undefined) {
          var loc = new google.maps.LatLng(gig.venue.lat, gig.venue.lng);
          var venue = getVenueForLocation(loc);
          if (_.isUndefined(venue)) {
            venue = {
              marker: new google.maps.Marker({
                position: loc,
                map: map,
                title: gig.venue.name
              }),
              info: {
                name: gig.venue.name,
                url: gig.venue.url
              },
              gigs: []
            };
            document.venues.push(venue);
          }
          venue.gigs.push(gig);
        }
      });

      // All venue markers are now placed on the map - add an eventlistener to each one, to open
      // an infowindow, which shows each gig playing at this venue, and by whom.
      _.each(document.venues, function(venue, i) {   
        google.maps.event.addListener(venue.marker, 'click', function() {
          var infowindow = new google.maps.InfoWindow({
            content: '<strong><a href="' + venue.info.url + '">' + venue.info.name + '</a></strong><br />'
              + _.map(venue.gigs, function(gig, i) {
                return new Date(gig.date).UTCDayMonth() + ', by ' + _.map(gig.comedians, function(comedian, i) {
                  return comedian.name;
                }).join(', ');
            }).join('<br />')
          });
          infowindow.open(map, venue.marker);
        });
      });
    }, 'json');
    return false;
  });
  $("#select_gigs").submit();
  
  
});
</script>
<% end %>

<div id="map_canvas" style="width:100%; height:100%;"></div>

<%= form_tag '/map/update_markers', :remote => true, :id => 'select_gigs' do %>
  <h3>Comedian</h3>
  <select id="comedian_id" name="comedian_id">
    <option value="0">Everyone</option>
    <% @comedians.each do |c| %>
      <option value="<%= c.id %>"><%= c.name %></option>
    <% end %>
  </select>
  <h3>Tour</h3>
  <select id="tour_id" name="tour_id">
    <option value="0">All tours</option>
    <% @tours.each do |t| %>
      <option value="<%= t.id %>"><%= t.name %></option>
    <% end %>
  </select>
  <h3>Date range</h3>
  <div id="date_range"></div>
  <input type="submit" id="update_gigs" value="Update" />
<% end %>
