<!DOCTYPE html>
<html>
<head>
  <title>Comedy</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery_ujs', 'application' %>
  <%= yield :map %>
  <%= csrf_meta_tag %>

</head>
<body>


<div id="container">
  <div id="user_nav">
    <% if user_signed_in? %> 
      Signed in as <%= current_user.email %>. Not you? <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>.
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <%= yield %>
</div>
</body>
</html>
